.content-blog {
    width: 540px;
    max-height: max-content;
    margin:10px 0 15px;
    padding: 10px;
    display: block;
    text-align: left;
    border: 1px solid white;
    border-radius: 10px;
}

.content-blog img {
    width: 150px; 
    height: 150px; 
    display:block;
    border: 1px solid white;
    margin-right: 10px;
}

.content-note {
    max-width: 600px;
    max-height: max-content;
    margin:10px auto;
    padding: 10px;
    display: flex;
    text-align: left;
    border: 1px solid white;
    border-radius: 10px;
}

.content-comments {
    max-width: 600px;
    max-height: max-content;
    margin:10px auto;
    padding: 10px;
    display: block;
    text-align: left;
    border: 1px solid white;
    border-radius: 10px;
}

.comment-note {
    max-width: 600px;
    max-height: max-content;
    margin:10px auto;
    padding: 10px;
    display: block;
    text-align: left;
    border: 1px solid white;
    border-radius: 10px;
}
