body {
    background: url(../img/shattered-island.jpg);
    height: auto;
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    color: #ffffff;
}

/*Навигационная панель*/

.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border: 2px solid;
    border-radius: 50%;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
	line-height: 45px;
	text-transform: uppercase;
}

.logo a:hover {
    color: red;
}

.menu {
    list-style: none;
    margin-top: 40px;
}

.menu_item {
    margin-bottom: 20px;
    position: relative;
    height: auto;
}


.menu_link {
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.menu_link:hover {
    color: red;
}

/*Основная секция*/

#main_block {
    margin: 2% 6% auto;
    padding: 0 10px auto;
    display: flex;
}

/*Главная страница*/

header {
    margin: 1% 6% auto;
    padding: 0 10px auto;
}

#authorization p{
    text-align: end;
}

#date {
    text-align: end;
    height: 20px;
    margin: 10px 10px auto;
}

#content {
    background-color: rgba(98, 103, 114, 0.5);
    border-radius: 20px;
    padding: 1%;
    width: 70%;
    max-height: max-content;
    margin: 5% auto 5px;
}

/*Панель Главной страницы*/
#info_panel {
    text-align: center;
    font-size: 20pt;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 26px;
    display: flex;
}

/*Панель Обо мне*/
#about_panel {
    font-size: 16pt;
    text-align: justify;
    line-height: 26px;
}

h1 .lg {
    color: #ffffff;
    text-transform: uppercase;
    line-height: 60px;
    margin-bottom: 10px;
    font-size: 55px;
	font-weight: 500;
    display: block;
    position: relative;
}

.photo {
    position: relative;
    width: 25%;
    max-height: 400px;
    border-radius: 10%;
    margin: 5% 0 5% 3%;
}

.ph {
    position: relative;
    width: 45%;
    height: auto;
}

.sub_menu {
    overflow: hidden;
    list-style: none;
    height: 0;
    opacity: 0;
    transition: all 0.5s;
}

.menu_int_item {
    margin-top: 5px;
    position: relative;
}

.menu_int_link {
    font-size: 14px;
	font-weight: 600;
	line-height: 20px;
    color: #ffffff;
    text-transform: uppercase
}

.menu_int_link:hover {
    color: red;
}